# Database Connection String (PostgreSQL)
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/support_ticket_db?schema=public"

# Server Port
PORT=4000

# Client Web Application URL (CORS)
CLIENT_URL="http://localhost:5173"
